/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');*/

/*-- Body Reset --*/
body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #616971;
  }


/*============= TOP BAR HEADER =============*/
.top-bar{
    background: #7aaec4;
    height: 2.8rem;
    padding: .5rem 0;
  }
  .top-bar a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  /*============= NAVIGATION =============*/
  
  .navbar-brand img {
    height: 9rem;
  }
  .navbar {
    font-size: 1.08rem;
    font-weight: 900;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .9);
    z-index: 1;
  }
  .nav-item {
    padding: .5rem;
  }
  .nav-link {
    color: #494545!important;
  }
  .nav-link.active,
  .nav-link:hover {
    color: #4981b3!important;
  } 

/*-- Contact Page --*/

section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ebb9d6;
}
section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: #f35acd;
}
section .container {
  position: relative;
  min-width: 1200px;
  min-height: 500px;
  display: flex;
  z-index: 1100;
}
section .container .contactinfo {
  position: relative;
  top: 40px;
  width: 325px;
  height: calc(100% - 80px);
  background: #a5a29f;
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}
section .container .contactinfo h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}
section .container .contactinfo .info {
  position: relative;
  margin: 20px 0;
}
section .container .contactinfo .info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}
section .container .contactinfo .info li span:nth-child(1) {
  width: 30px;
  min-width: 30px;
}
section .container .contactinfo .info li span:nth-child(1) img{
  max-width: 100%;
  filter: invert(.1);
  opacity: "";
}
section .container .contactinfo .info li span:nth-child(2) {
  color: #fff;
  margin-left: 10px;
  font-weight: 500;
  opacity: "";
}
section .container .contactinfo .info li:hover span:nth-child(1) img,
section .container .contactinfo .info li:hover span:nth-child(2){
  opacity: .6;
}
section .address {
  max-width: 100%;
}
section .container .contactinfo .sci {
  position: relative;
  display: flex;
}
section .container .contactinfo .sci li {
  list-style: none;
  margin-right: 15px;
}
section .container .contactinfo .sci li a {
  text-decoration: none;
}
section .container .contactinfo .sci li a img {
  filter: invert(.05);
  opacity: "";
}
section .container .contactinfo .sci li:hover a img {
  opacity: "";
}
section .container .contactForm {
  position: absolute;
  padding: 70px 50px;
  background: #fff;
  margin-left: 300px;
  width: calc(100%-150px);
  height: 100%;
  box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}
section .container .contactForm h2 {
  color: #f05fcc;
  font-size: 24px;
  font-weight: 500;
}
section .container .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
section .container .contactForm .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}
section .container .contactForm .formBox .inputBox.w50 {
  width: 47%;
}
section .container .contactForm .formBox .inputBox.w100 {
  width: 100%;
}
section .container .contactForm .formBox .inputBox input,
section .container .contactForm .formBox .inputBox textarea
 {
  width: 100%!important;
  padding: 5px 0;
  resize: none;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}
section .container .contactForm .formBox .inputBox textarea {
  min-height: 120px;
}
section .container .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 0.5s;
  pointer-events: none;
}
section .container .contactForm .formBox .inputBox input:focus ~ span,
section .container .contactForm .formBox .inputBox textarea:focus ~ span,
section .container .contactForm .formBox .inputBox input:valid ~ span,
section .container .contactForm .formBox .inputBox textarea:valid ~ span
{
  transform: translateY(-50%);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ff568c;
  
}
section .container .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #4981b3;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}
section .container .contactForm .formBox .inputBox input[type="submit"]:hover {
  background: #f05fcc;
}


/*============= FOOTER =============*/

footer {
    background-color: #aca8a5;
    padding: 1rem 2rem 3rem;
  }
  footer img {
    height: 12.5rem;
    margin: 1.0rem auto;
  }
  footer p, footer a,
  .socket a {
    color: white;
    text-decoration: none;
  }
  ul.social {
    list-style-type: none;
    display: flex;
    max-width: 16rem;
    margin: 0 auto;
    padding: 0;
  }
  ul.social li {
    margin: 0 auto;
  }
  footer .svg-inline--fa {
    font-size: 2.5rem;
  }
  footer .svg-inline--fa:hover {
    color: #68a0d2;
  }

  
  
  /*============= SOCKET =============*/
  .socket {
    background-color: #222222;
    border-top: .3rem solid #4981b3;
  }
  
  
  /*============= MEDIA QUERIES =============*/
  
  /* Devices under 1199px (xl) */
  @media (max-width: 1199.98px) {
    .contactinfo h2 {
      font-size: 2.8rem;
      text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1)
    }
  
    .contactForm h2 {
      font-size: 1.8rem;
      text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
    }
  }
  /* Devices under 992px (lg) */
  @media (max-width: 991.98px) {
    .contactinfo h2 {
      font-size: 2.5rem;
      text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1)
    }
  
    .contactForm h2 {
      font-size: 1.5rem;
      text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
    }
    .btn-lg {
      font-size: .95rem;
    }
  }
  
  
  
  /*============ BOOTSTRAP BREAK POINTS:
  
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  =============*/
  
  /*-- Bootstrap Mobile Gutter Fix --*/
  .row, .container-fluid {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  
  /*-- Fixed Background Image --*/
  .fixed-background {
    position: relative;
    width: 100%;
    z-index: 1000!important;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999 !important;
  }
  .fixed {
    z-index: -999!important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
  }